* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #202621
}

img {
    max-width: 100%;
    height: auto;
}

h1,
p {
    margin: 0;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-image: url("../images/opening-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 644px;
    width: 100%;

}

.hero-text {
    max-width: 1500px;
    flex-basis: 100%;
    font-family: "amandine", sans-serif;
    font-weight: 700;
    font-size: 200px;
    font-style: normal;
    color: #F5F5F5;
}

.hero-text2 {
    max-width: 1100px;
    font-size: 48px;
    flex-basis: 100%;
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #F5F5F5;
}

.michelin-star {
    display: flex;
    justify-content: center;
}

.michelin-star:hover {
    transform: scale(1.2);
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.pad-1 {
    min-height: 100px;
    background-color: #202621
}

.nav-links a {
    padding-right: 80px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    color: #F5F5F5;
    text-decoration: none;
}

.about-card {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    min-height: 533px;
    width: 100%;
    background-color: #FF8906;
}


p.card-desc {
    margin: 0;
    font-size: 25px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #202621;
}

h1.card-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-family: "amandine", sans-serif;
    font-weight: 500;
    color: #F5F5F5;
}

.nav-links {
    text-align: right;
    text-decoration: none;
}

h2.o-text {
    padding-top: 80px;
    text-align: center;
    margin: 10px;
    font-size: 64px;
    font-family: "amandine", sans-serif;
    font-weight: 500;
    color: #F5F5F5;
}

p.h-text {
    padding-bottom: 100px;
    text-align: center;
    margin: 40px;
    font-size: 64px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #F5F5F5;
}

.food-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food-image-container {
    justify-content: center;
    flex-basis: 50%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;

}

.menu-text {
    text-align: center;
    padding-top: 20px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: #F5F5F5;
}

.button {
    padding: 30px;
    font-size: 40px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #3BAD7F;
    color: #202621;
}

.cta {
    padding-bottom: 40px;
    text-align: center;
}

.sc-card {
    margin: 0;
    padding: 50px;
    flex-wrap: wrap;
    border: 0px solid;
    width: 100%;
}

.col-6 {
    flex-wrap: wrap;
    flex-basis: 50%;

}

h3.sc-header {
    text-align: right;
    margin: 0;
    font-size: 96px;
    font-family: "amandine", sans-serif;
    font-weight: 500;
    color: #F5F5F5;
}

p.sc-desc {
    text-align: right;
    padding: 20px;
    font-size: 48px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #F5F5F5;
}

.gallery-header {
    padding-bottom: 30px;
    text-align: center;
    font-size: 128px;
    font-family: "amandine", sans-serif;
    font-weight: 500;
    color: #F5F5F5;
}

.gallery-text {
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #F5F5F5;
}

.pad-2 {
    min-height: 200px;
    background-color: #202621
}

.dividers {
    min-height: 83px;
    background-color: #FF8906;
}

.footer-container {
    margin: 0 auto;
    padding: 90px;
    display: flex;
    justify-content: center;
}

.footer-section,
a {
    font-family: "Kulim Park", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: #F5F5F5;
    flex: 1;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.logo-container {
    margin: auto;
}


.container {
    max-width: 1728px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 480px) {
    .nav-links a {
        font-size: 25px;
    }

    .hero-text {
        font-size: 80px;
        text-align: center;
    }

    .hero-text2 {
        font-size: 20px;
    }

    .menu-text,
    p.card-desc,
    p.sc-desc {
        text-align: center;
        font-size: 25px;
    }

    .about-card,
    .sc-card {
        flex-wrap: wrap;
    }

    h1.card-title,
    h3.sc-header {
        text-align: center;
        font-size: 45px;
    }

    h2.o-text,
    p.h-text {
        font-size: 32px;
    }

    .button {
        font-size: 20px;
        padding: 20px;
    }

    .sc-card {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        flex-wrap: wrap;
        flex-basis: 100%;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-header {
        font-size: 70px;
    }

    .gallery-text {
        font-size: 40px;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-section,
    a {
        font-size: 20px;
        display: block;
    }

    .pad-2 {
        min-height: 50px;
    }
}

/* Tablet */
@media screen and (max-width:768px) {
    .nav-links a {
        font-size: 25px;
    }

    .hero-text {
        font-size: 100px;
        text-align: center;
    }

    .hero-text2 {
        font-size: 40px;
    }

    .menu-text,
    p.card-desc,
    p.sc-desc {
        text-align: center;
        font-size: 30px;
    }

    .about-card,
    .sc-card {
        flex-wrap: wrap;
    }

    h1.card-title,
    h3.sc-header {
        text-align: center;
        font-size: 45px;
    }

    h2.o-text,
    p.h-text {
        font-size: 32px;
    }

    .button {
        font-size: 20px;
        padding: 20px;
    }

    .sc-card {
        display: flex;
        flex-wrap: wrap;
    }

    .col-6 {
        flex-wrap: wrap;
        flex-basis: 100%;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-header {
        font-size: 70px;
    }

    .gallery-text {
        font-size: 40px;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-section,
    a {
        font-size: 20px;
        display: block;
    }

    .pad-2 {
        min-height: 50px;
    }
}